<p>Назва: <%=variant.name%> </p>
<p>Опис: <%=variant.desc%></p>
<%if variant.event_id%>
<p>Належить події: <%=Event.find(variant.event_id).name %></p>
<%else%>
<p>Належить варіанту: <%=Variant.find(variant.variant_id).name %></p>
<%end%>
Отримувані:
<p><%@profit_items[variant.id].each do |item|%>
<%=item.name%>  /
<%end%>
</p>
<p><%@profit_statuses[variant.id].each do |status|%>
<%=status.name%>  /
<%end%>
</p>
Потрібні:
<p><%@need_items[variant.id].each do |item|%>
<%=item.name%>  /
<%end%>
</p>
<p><%@need_statuses[variant.id].each do |status|%>
<%=status.name%>  /
<%end%>
</p>
<hr>